
.filter-form{
    margin: 15px auto 50px;
    width: 75%;
    gap: 5%;
    display: flex;
    justify-content: center;
}
.filter-block{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.filter-block:nth-child(1){
width: 50%;
}
#filter-title{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    background-color: #adb5bd;
    border: solid 2px #62676c;
    border-radius: 15px;
}
#filter-title:focus:active{
    border: solid 2px rgb(121, 218, 2);
    color:rgb(88, 88, 88);
    
}
#filter-status,#filter-priority{
    font-weight: 700;
font-size: 15px;
    width: 100%;
    height: 40px;
    background-color: #adb5bd; 
    color: rgb(88, 88, 88);
    border: solid 2px #62676c;
    border-radius: 15px;
}
#filter-status:focus{
    border: solid 2px rgb(121, 218, 2)
}
#filter-priority:focus{
    border: solid 2px rgb(121, 218, 2)
}
.filter-status--option{
    color: rgb(88, 88, 88);
}
.filter-label{
    text-align: center;
    height: 35px;
    line-height: 15px;
    color: rgb(88, 88, 88);
    font-size: 15px;
    font-weight: 700;
}
